.bottom-navbar {
  background: #313a46;
  box-shadow: 0px 0px 50px #d3d3d3;
  display: flex;
  align-items: center;
}
img {
  width: 100%;
  height: 100%;
}

.img-container {
  width: 150px;
  margin-left: 7rem;
}
.nav-container {
  max-width: 70%;
}

.page-navigation {
  justify-content: space-evenly;
}

.nav-link {
  padding: 22px 10px;
  line-height: 1;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.menu-title {
  font-size: 11pt;
  font-weight: bold;
  color: #e3e8eb;
}
.menu-icon {
  color: #d3d3d3;
  margin-right: 10px;
}

.badge-counter {
  transform: scale(0.7);
  transform-origin: top right;
  margin-top: -0.25rem;
}
.badge-danger {
  color: #fff;
  background-color: #e74a3b;
}
